//extends layout.pug

block content
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  
  .container
    a.btn.btn-succes(type="button", href=`/logout?id=${user.user_id}`)
      svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16")
        path(fill-rule="evenodd", d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z")
        path(fill-rule="evenodd", d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z")
        | Salir
    h1(style="margin-top: 20px;") Pagina del Administrador

    // Tabla para agregar libros
    h2 Libros
    table.table.table-striped.table-scrollable(style="max-height: 300px; overflow-y: auto;")
      thead
        tr
          th ID
          th Título
          th Autor
          th Año
          th Cantidad
          th Acciones
      tbody
        each libro in libros
          tr
            td=libro.book_id
            td=libro.book_name 
            td=libro.book_author
            td=libro.year
            td=libro.book_amount
            td
              a.btn.btn-primary(href=`/admin/editar-libro?id=${libro.book_id}`) Editar
              a.btn.btn-danger(href=`/admin/eliminar-libro?id=${libro.book_id}`) Eliminar

    // Botones para agregar nuevo libro y nuevo usuario
    div.mt-4
      a.btn.btn-success(href="/admin/agregar-libro") Agregar Libro

    // Tabla para usuarios
    h2(style="margin-top: 50px;") Empleados
    table.table.table-striped.table-scrollable(style="max-height: 300px; overflow-y: auto;")
        thead
            tr
            th ID
            th Nombre
            th Correo
            th Acciones
        tbody
            each usuario in empleados
                tr
                td=usuario.user_id 
                td=usuario.user_name
                td=usuario.user_email
                td
                    a.btn.btn-primary(href=`/admin/editar-empleado?id=${usuario.user_id}`) Editar
                    a.btn.btn-danger(href=`/admin/eliminar-empleado?id=${usuario.user_id}`) Eliminar

    div.mt-4
      a.btn.btn-success(href="/admin/agregar-empleado") Agregar Nuevo Empleado