//extends layout.pug

block content

    doctype html
    html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gerente
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body
        .container
            h1 Reportes de ventas
            hr
            // Tabla de Reporte de Ventas para Libros
            h2 Reporte de ventas para Libros
            .row
                .col-md-6
                    select.form-control#bookYear
                        option(value="2024") 2024
                        option(value="2023") 2023
                        option(value="2022") 2022
                        // Agrega más años según sea necesario
                .col-md-6
                    select.form-control#bookMonth
                        option(value="1") January
                        option(value="2") February
                        option(value="3") March
                        // Agrega más meses según sea necesario
            table.table.table-striped
                thead
                    tr
                        th Mes
                        th Mas vendido
                        th Copias
                tbody
                each month in libros
                    tr
                        td= month.mes
                        td= month.book_name
                        td=month.repeticiones  
            hr
            // Tabla de Reporte de Ventas para Autores
            h2 Reporte de ventas para Autores
            .row
                .col-md-6
                    select.form-control#authorYear
                        option(value="2024") 2024
                        option(value="2023") 2023
                        option(value="2022") 2022
                        // Agrega más años según sea necesario
                .col-md-6
                    select.form-control#authorMonth
                        option(value="1") January
                        option(value="2") February
                        option(value="3") March
                        // Agrega más meses según sea necesario
            table.table.table-striped
                thead
                    tr
                        th Month
                        th Mas vendido
                        th Copias
                tbody
                each month in autores
                    tr
                        td= month.mes
                        td= month.book_author
                        td=month.repeticiones 
            hr
            // Tabla de Reporte de Ventas para Géneros de Libros
            h2 Reporte de ventas para generos
            .row
                .col-md-6
                    select.form-control#genreYear
                        option(value="2024") 2024
                        option(value="2023") 2023
                        option(value="2022") 2022
                        // Agrega más años según sea necesario
                .col-md-6
                    select.form-control#genreMonth
                        option(value="1") January
                        option(value="2") February
                        option(value="3") March
                        // Agrega más meses según sea necesario
            table.table.table-striped
                thead
                    tr
                        th Month
                        th Mas vendido
                        th Copias
                tbody
                each month in generos
                    tr
                        td= month.mes
                        td= month.book_genre
                        td= month.repeticiones 


    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script.
        $(document).ready(function() {
        // Función para actualizar los reportes de ventas para libros
        $('#bookYear, #bookMonth').change(function() {
            var year = $('#bookYear').val();
            var month = $('#bookMonth').val();
            // Aquí puedes realizar una solicitud AJAX para obtener los datos del servidor según el año y el mes seleccionados
            // Luego, actualiza la tabla de ventas para libros con los nuevos datos
        });
        // Función para actualizar los reportes de ventas para autores
        $('#authorYear, #authorMonth').change(function() {
            var year = $('#authorYear').val();
            var month = $('#authorMonth').val();
            // Aquí puedes realizar una solicitud AJAX para obtener los datos del servidor según el año y el mes seleccionados
            // Luego, actualiza la tabla de ventas para autores con los nuevos datos
        });
        // Función para actualizar los reportes de ventas para géneros de libros
        $('#genreYear, #genreMonth').change(function() {
            var year = $('#genreYear').val();
            var month = $('#genreMonth').val();
            // Aquí puedes realizar una solicitud AJAX para obtener los datos del servidor según el año y el mes seleccionados
            // Luego, actualiza la tabla de ventas para géneros de libros con los nuevos datos
        });
        });