extends layout

block content
  div.main-container
     
    div.container-carousel
      div.carruseles#slider
        section.slider-section
          img(src="img/1.jpeg" alt="imagen 1")
        section.slider-section
          img(src="img/2.jpg")
        section.slider-section
          img(src="img/3.jpg")
        section.slider-section
          img(src="img/4.jpg")
      div.btn-left  
        i(class='bx bx-chevron-left')   
      div.btn-right
        i(class='bx bx-chevron-right') 
      div.texto
        h2 DESCUENTOS
        p Descubre nuestros increíbles descuentos!!!! 
    section.header-feahion
      div.header-text
      h1 NOVEDADES
      h2
        b Encuentra los libros más nuevos
        hr(style="background-color: #62aabf; height: 2px; border: 0;")
        
    .related-products
    .container
        .row
            .col-md-12
                br
                br
            .row
                for book in newBooks
                    .col-md-3 
                        .s_product
                            img(src="img_book/"+book.book_genre+"/"+book.book_isbn, alt="")
                            .s_overlay
                            if (book.book_amount == 0) 
                                h2(style="color: black;") AGOTADO

                            h3=book.book_editorial
                            h4
                                i.fa.fa-cart-arrow-down(aria-hidden="true")
                                a(onclick="Agotado()", style="color: white; text-decoration: none; cursor: pointer;") AÑADIR AL CARRITO
                        .row
                            .col-md-12
                                .rate
                                    h3=book.book_name 
                                    p
                                        i.fa.fa-star(aria-hidden="true")
                                        i.fa.fa-star(aria-hidden="true")
                                        i.fa.fa-star(aria-hidden="true")
                                        i.fa.fa-star(aria-hidden="true")
                                        i.fa.fa-star(aria-hidden="true")
                                    h5=book.book_price  
                     
    section.header-feahion
      div.header-text
      h1 BEST SELLERS
      h2
        b Encuentra los libros más vendidos 
        hr(style="background-color: #62aabf; height: 2px; border: 0;")       
    .related-products
    .container
        .row
            .col-md-12
                br
                br
            .row
                for book in newBooks
                    .col-md-3 
                        .s_product
                            img(src="img_book/"+book.book_genre+"/"+book.book_isbn, alt="")
                            .s_overlay
                            if (book.book_amount == 0) 
                                h2(style="color: black;") AGOTADO

                            h3=book.book_editorial
                            h4
                                i.fa.fa-cart-arrow-down(aria-hidden="true")
                                a(href = "/agregarcarrito/"+book.book_id, style="color: white; text-decoration: none; cursor: pointer;") AÑADIR AL CARRITO
                        .row
                            .col-md-12
                                .rate
                                    h3=book.book_name 
                                    p
                                        i.fa.fa-star(aria-hidden="true")
                                        i.fa.fa-star(aria-hidden="true")
                                        i.fa.fa-star(aria-hidden="true")
                                        i.fa.fa-star(aria-hidden="true")
                                        i.fa.fa-star(aria-hidden="true")
                                    h5=book.book_price
                                             
  script(src="js/slider.js")
