doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style2.css")
        link(rel="stylesheet", href="https://unpkg.com/boxicons@latest/css/boxicons.min.css")
        link(href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css")
    body
        header(class="header")

            a(class="logo",href = "/") 
                img(src="img/logo.ico")
            ul(class="navbar")
                li 
                    a(href="#" class="active") INICIO
                li
                    a(href="#") LIBROS+  
                    div(class = "submenu")
                        div(class = "u-items")
                            p submenu1
                            ul 
                                li
                                    a(href ="#") Item
                                    a(href ="#") Item 
                                    a(href ="#") Item
                        div(class = "u-items")
                            p submenu2
                            ul 
                                li
                                    a(href ="#") Item
                                    a(href ="#") Item
                                    a(href ="#") Item
                        div(class = "u-items")
                            p submenu1
                            ul 
                                li
                                    a(href ="#") Item
                                    a(href ="#") Item
                                    a(href ="#") Item     
                li                                             
                    a(href="#") OFERTAS
                li
                    a(href="#") LO MAS LEIDO
                #icon-menu
                    i.fa-solid.fa-magnifying-glass#icon-search

            div(class="mainm")
                if (user)
                    if user.user_role == 0
                        a(href="/admin" class="user")= user.user_name
                            i(class="ri-user-3-fill") 
                    else if user.user_role == 1
                        a(href="/" class="user")= user.user_name
                            i(class="ri-user-3-fill") 
                    else if user.user_role == 2
                        a(href="/" class="user")= user.user_name
                            i(class="ri-user-3-fill") 
                else
                    a(href="login" class="user") MI CUENTA
                        i(class="ri-user-3-fill") 
                a( class="bag")
                    i(class="ri-shopping-bag-3-fill") 
                div(class="contenedorCompra none", id="contenedorCompra")
                    div(class="cesta")
                        div(class="cesta-header")
                            h2 Cesta
                            span(class="x", id="x") ×   
                    div(class="cesta-footer")
                        div(class="productoo")         
                                if(carrito)
                                    for librocarrito in carrito
                                        div(class = "divcontainer")
                                            div(class = "imgcompra")
                                                img(src="img_book/"+librocarrito.book_genre+"/"+librocarrito.book_isbn, alt="")
                                                div(class = "infocompra") 
                                                    p  #{librocarrito.book_name} 
                                                    span(id="nombreLibro")
                                                div(class = "eliminarCompra")
                                                    a(href = "/eliminarcarrito/"+librocarrito.book_id, style="color: white; text-decoration: none; cursor: pointer;") 
                                                       i(class='bx bx-trash bx-tada bx-rotate-90' style='color:#b71021') 
                    p(class="total-precio") 
                       
                    button(type="button", onclick="window.location.href='/compra'") Finalizar Compra

                        
                                
                      
                a(class="fav")
                    i(class="ri-heart-3-fill")
                div(class="contenedorFavs none", id="contenedorFavs")
                    div(class="heart")
                        div(class="heart-header")
                            h2 Favoritos
                            span(class="x2", id="x2") ×   
                    div(class="heart-footer")
                        div(class="productoos") 
                                if(favoritos)
                                    for librofavs in favoritos
                                        div(class="divcontainer2")
                                            div(class="imgcompra2")
                                                img(src="img_book/"+librofavs.book_genre+"/"+librofavs.book_isbn, alt="")
                                                div(class="infofavs")
                                                    p  #{librofavs.book_name} 
                                                    span(id="nombreLibro")
                                                div(class = "eliminarFavorito")
                                                    a(href = "/eliminarfavoritos/"+librofavs.book_id, style="color: white; text-decoration: none; cursor: pointer;") 
                                                        i(class='bx bx-trash bx-tada bx-rotate-90' style='color:#b71021') 

                                                                              
                if user
                    a(href="/logout" class="logout")       
                        i(class="bx bxs-log-out" )
                div(class="bx bx-menu" id="menu-icon")
                
        #ctn-bars-search
            input(type="text", id="inputSearch", placeholder="¿Qué deseas buscar?")
            ul#box-search
                li
                    a(href="#")
                        i.fas.fa-search HTML
                li
                    a(href="#")
                        i.fas.fa-search CSS
                li
                    a(href="#")
                        i.fas.fa-search JavaScript
                li
                    a(href="#")
                        i.fas.fa-search PHP
                li
                    a(href="#")
                        i.fas.fa-search NODEJS
                li
                    a(href="#")
                        i.fas.fa-search VUEJS
                li
                    a(href="#")
                        i.fas.fa-search Como hacer
                li
                    a(href="#")
                        i.fas.fa-search Como crear
        #cover-ctn-search

    script(src="js/header.js")                
    block content
    footer(class="footer")
        .container-footer 
            .footer-row 
                .footer-links 
                    h4 CATEGORÍAS 
                    ul 
                        l1 
                        a(href="#") Libros   
                        a(href="#") Ebooks 
                        a(href="#") Audiolibros
                .footer-links 
                    h4 CONÓCENOS
                    ul 
                        l1 
                        a(href="#") Acerca de   
                        a(href="#") Políticas 
                        a(href="#") Avisos de privacidad
                .footer-links 
                    h4 CONTÁCTANOS 
                    ul 
                        l1 
                        a(href="#") elcliente@bookbyte.com.mx
                        a(href="#", style="color: yellow;") siguenos
                        .social-link 
                            a(href="#") 
                                 i.fab.fa-facebook-f 
                            a(href="#") 
                                 i.fab.fa-instagram 
                            a(href="#") 
                                 i.fab.fa-twitter
                        a(href="#", style="color: yellow;") Métodos de pago

script(src="js/barra-busqueda.js")