extends ../layout
block content
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  .container
    .row
      .col-md-6.offset-md-3
        .card.mt-5
          .card-header
            h1.text-center Editar Empleado
          .card-body
            form(action=`/admin/actualizar-empleado?id=${usuario.user_id}`, method="POST")
              input(type='hidden', name='id', value=usuario.user_id)
              .form-group
                label(for="nombre") Nombre:
                input#nombre.form-control(type="text", name="nombre", placeholder=usuario.user_name, required)

              .form-group
                label(for="apellido") Apellido:
                input#apellido.form-control(type="text", name="apellido", placeholder=usuario.user_lastname, required)

              .form-group
                label(for="correo") Correo Electrónico:
                input#correo.form-control(type="email", name="correo", placeholder=usuario.user_email, required)

              .form-group
                label(for="password") Contraseña:
                input#password.form-control(type="password", name="password", placeholder="Nueva Contraseña", required)

              .form-group
                label(for="confirmar-password") Confirmar Contraseña:
                input#confirmar-password.form-control(type="password", name="confirmarPassword", placeholder="Confirmar Contraseña", required)

              button.btn.btn-primary.btn-block(type="submit") Confirmar